#carouselExampleCaptions h5{
    font-size: 40px;
    color: #fce700;
    text-shadow: 1px 1px 1px white, 3px 3px 3px black;
}

footer a{
    text-decoration: none;
    color: #033540;
    font-weight: bold;
}

.navbar{
    --bs-navbar-brand-font-size: 1.4rem;
}
